<head>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <h1 class="background">This is our <%=title%></h1>
    <h2>City-<%=output.name%></h2>
    <h2>Temperature - <%=output.main.temp%></h2>
    <h2>Country - <%=output.sys.country%></h2>
    <h2>Temperature - <%=output.weather[0].description%></h2>
</body>